html,
body {
    /*background-color: #fff !important;*/
}

.ms-controller, [ms-controller] {
    display: none;
}

button {
    -webkit-transition: none;
}

.small {
    font-size: 12px;
}

.mui-popover.mui-popover-action {
    -webkit-transition: none;
}

.mui-bar-nav,
.mui-bar-tab {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.75);
}

@supports(-webkit-backdrop-filter:none) {
    .mui-bar-nav,
    .mui-bar-tab {
        -webkit-backdrop-filter: blur(7px);
        background: rgba(247, 247, 247, 0.75);
    }
}

.logo {
    width: 33px;
    height: 33px;
    margin: 5px;
}

.headImg {
    width: 36px;
    height: 36px;
    margin: 6px;
    border-radius: 50%;
    border: 2px solid white;
}

.margin2 {
    margin: 0 1.5rem;
}

.display-flex {
    display: flex !important;
    display: -webkit-box !important;
}

.flex0 {
    flex: 0 0 auto;
    -webkit-box-flex: 0.0;
}

.flex1 {
    flex: 1 1 auto;
    -webkit-box-flex: 1.0;
}

.display-flex .mui-btn-block {
    text-align: left;
    margin-bottom: 0px;
    font-size: inherit;
}

.display-flex input[type='text'] {
    width: 100px;
    height: 22px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.error {
    color: red;
}

.text-white {
    color: white;
}

.circle {
    border-radius: 50%;
}

.select-time {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    padding-left: 50px;
    padding-right: 20px;
    overflow-y: auto;
}

.select-time a,
.select-time b {
    /*width: 40px;*/
    display: block;
    height: 21px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    box-sizing: border-box;
}

.select-time a {
    color: #000;
}

.dotted {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1) !important;
}

.select-time b i {
    /*transform: translate(-40px, -10px);*/
    color: #999;
    position: relative;
    top: -10px;
    left: -40px;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
}

.select-time .bar {
    position: absolute;
    top: 0;
    /*width: 80%;*/
    border-radius: 0;
    width: auto;
    height: 127px;
    box-sizing: border-box;
    /*border: 1px solid #f0ad4e;*/
    /*border-left: 4px solid #f0ad4e;*/
    /*border-bottom: 1px solid #dd524d;*/
    -webkit-transform: translateY(-1px);
    -webkit-transition: all 0.2s;
    background: #baa071;
}

.select-time .bar button {
    border: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 48%;
    text-align: center;
    height: 100%;
    border-radius: 0;
    font-size: 20px;
    font-weight: lighter;
    background: none;
    transition: none;
    color: #fff;
}

.select-time .bar button:active {
    color: #999;
    font-weight: bold;
}

.select-time a:active {
    background: #F7F7F7;
}

.select-time a i {
    /*transform: translate(-40px, -10px);*/
    position: relative;
    top: -10px;
    left: -40px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
}

.select-time-disabled,
.select-time-disabled:active {
    background-color: rgb(230, 230, 230) !important;
    height: 21px;
    border: none !important;
    /*background-image:  url('../img/cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    height: 22px;
    border: none !important;*/
}

.select-time-disabled:after {
    /*content: '已订出！';*/
    display: block;
    color: gray;
    font-weight: normal;
    float: right;
    width: 50%;
    /*transform: translateX(-20px);*/
    position: relative;
    left: -20px;
    font-style: italic;
}

.select-time-clear:after {
    content: '整理时间！';
    display: block;
    color: gray;
    font-weight: normal;
    float: right;
    width: 50%;
    /*transform: translateX(-20px);*/
    position: relative;
    left: -25px;
    font-style: italic;
}

.sub-title {
    line-height: 180%;
    margin: 0 0.5rem;
}

.calendar {
    width: 100%;
}

.calendar a,
.calendar i,
.calendar b {
    display: inline-block;
    width: 14.285%;
    height: 3rem;
    /*padding: 5px;*/
    box-sizing: border-box;
    border: 1px solid transparent;
    /*border-top: none;*/
    border-right: none;
    border-right: none;
    text-align: center;
    line-height: 3rem;
    position: relative;
    font-size: 16px;
}

.calendar b {
    height: auto;
    font-size: 12px;
    line-height: 100%;
    padding: 5px;
    border-right: none;
    /*color: #DD524D;*/
}

.calendar i,
.calendar .disabled,
.calendar .disabled:active {
    background: gainsboro;
    color: gray;
    border: 1px solid gainsboro;
    border-right: none;
    border-bottom: none;
}

.calendar a {
    color: gray;
    background: #fff;
}

.calendar a sup,
.calendar i sup {
    font-size: 12px;
    color: #cc9966;
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    line-height: 100%;
    text-align: center;
    /*width: 100%;*/
}

.calendar a sub {
    color: #DD524D;
    position: absolute;
    bottom: 1px;
    right: 1px;
    font-size: 10px;
    line-height: 100%;
    /*width: 100%;*/
    /*text-align: center;*/
}

.calendar a:active {}

.calendar .selected {
    background: #baa071;
    color: white;
}

.calendar a:active sup,
.calendar a:active sub,
.calendar .selected sup .calendar .selected sub {
    color: white;
}

.edit a:active,
.edit .selected {
    background: #baa071;
    color: #fff;
}

/*.edit .start:before {
    content: "";
    width: 3px;
    height: 100%;
    display: block;
    position: absolute;
    left: -1px;
    top: 0;
    background: #f0ad4e;
}

.edit .end:before {
    content: "";
    width: 3px;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: #f0ad4e;
}*/

.edit a:active sup,
.edit a:active sub,
.edit .selected sup .edit .selected sub {
    /*color: black;*/
    color: #DD524D;
}

.calendar .split-bottom {
    border-bottom: 1px solid lightgray;
}

.calendar .split-right {
    border-right: 1px solid lightgray;
}

.calendar .split-top {
    border-top: 1px solid lightgray;
}

.calendar .split-left {
    border-left: 1px solid lightgray;
}

.swiper-container {
    width: 100%;
    height: 12rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 80%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide-item {
    position: relative;
    display: block;
    white-space: normal;
    width: inherit;
    height: 100%;
    font-size: 14px;
    vertical-align: top;
}

.swiper-slide-item .distance {
    position: relative;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 0 10px;
    top: 10px;
    right: 0;
    z-index: 9;
    float: right;
    font-size: 12px;
    font-weight: 100;
}

.swiper-slide-item a {
    width: inherit;
    height: 225px;
    display: block;
}

.swiper-slide-item a div {
    background-size: cover;
    height: 100%;
    width: inherit;
    position: relative;
}

.swiper-slide-item span {
    display: inline-block;
}

.swiper-slide-item a div label {
    position: absolute;
    bottom: 27px;
    left: 0px;
    display: inline-block;
    color: white;
    background: black;
    line-height: 25px;
    text-align: center;
    padding: 6px;
}

.swiper-slide-item .slide-price {
    font-weight: 200;
    font-size: 24px;
}

.swiper-slide-item a div label span {
    font-size: 12px;
    font-weight: 100;
}

.swiper-slide-item .roomtype {
    background: #baa071;
    width: 100%;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.swiper-slide-item .slide-address {
    margin: 16px 0 4px 10px;
}

.swiper-slide-item .slide-room {
    margin: 0 5px 0 10px;
    font-weight: 100;
}

.slide-info {
    position: relative;
    height: 77px;
    background: #fff;
}

.slide-info div {
    position: absolute;
    right: 10px;
    bottom: 40px;
}

.slide-info div i {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center center;
    display: block;
    position: absolute;
    right: 20px;
    top: -45px;
}

.text-shadow {
    text-shadow: #000 0 1px 10px;
}

#popModule, .mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(20px);
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 10ms;
    transition-duration: 300ms;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-align: center;
    opacity: 1;
    text-align: center;
}
.modal {;
    background-color: #fff;
    margin: 0 auto;
}

@supports(-webkit-backdrop-filter:none) {
    #popModule {
        -webkit-backdrop-filter: blur(20px);
        transition-property: -webkit-backdrop-filter, opacity;
        background: rgba(0, 0, 0, 0.5);
    }
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
    padding: 0;
}

#popModule.hide {
    -webkit-backdrop-filter: blur(0) !important;
    /*background: rgba(0, 0, 0, 0.0) !important;*/
    opacity: 0;
}

#popModule .control {
    height: 100px;
}

#popModule .control-item {
    display: inline-block;
    text-align: center;
    width: 49%;
    position: relative;
    top: 18px;
}

#popModule .control-item img{
    max-width: 44px;
    max-height: 44px;
}

#popModule .control-item .grid-text {
    margin: 2px auto;
}

#popModule .grid-icon {
    width: 22px;
    height: 22px;
    margin-top: 12px;
}

#popModule li a {
    padding: 5px 0 10px 0;
}

#popModule li a div {
    margin-top: -3px;
}

.service-control {
    margin-top: 12px;
    text-align: center;
    background-color: #fcfcfc;
}
.service-control .control-item {
    display: inline-block;
    margin: 5px;
    text-align: center;
}
.service-control .control-item .grid-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}
.service-control .control-item .grid-img img {
    width: 36px;
    margin-top: 6px;
    margin-left: 3px;
}
.service-control .control-item .grid-text {
    margin: 8px auto;
    font-size: 0.875rem;
}
.service-control .grid-icon {
    width: 27px;
    height: 27px;
}

.content {
    margin: auto;
    -webkit-transition-property: margin-top;
    -webkit-transition-duration: 10ms;
    transition-duration: 300ms;
    position: relative;
    width: 80vw;
}

.hide .content {
    margin-top: 100vh !important;
}

.popover-Button {
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    left: 50%;
    margin-top: 20px;
    margin-left: -25px;
}
.popover-Button:active {
    color: white;
    background: none !important;
}
.popover-Button-close {
    background: url('../img/icon/close.png');
    background-size: cover;
}
.popover-Button-check {
    background: url('../img/icon/check.png');
    background-size: cover;
}

.icon li a h5 {
    color: black;
    font-weight: lighter;
}

.keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: lightgray;
    transition-property: all;
    transition-duration: 500ms;
}

.keyboard button,
.keyboard i,
.keyboard b {
    width: 32.8%;
    height: 50px;
    background: #FAFAFA;
    color: black;
    font-size: 32px;
    font-weight: 200;
    border-radius: 0;
    border: none;
    margin: 1px;
    margin-left: 0;
    margin-top: 0;
    box-sizing: border-box;
    display: inline-block;
    line-height: 50px;
    padding: 0;
}

.keyboard .gainsboro {
    background: gainsboro;
}

.keyboard button:active {
    background: gray;
}

.keyboard i,
.keyboard b {
    background: gainsboro;
}

.keyboard b {
    display: none;
}

@media (min-width: 541px) {
    .keyboard button,
    .keyboard b {
        width: 16.3%;
    }
    .keyboard i {
        display: none;
    }
    .keyboard b {
        display: inline-block;
    }
}

.keyboard-hide {
    bottom: -150vh !important;
}

.mui-bar-tab {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
}

.mui-bar-tab .mui-btn.mui-pull-right {
    margin: 0;
    height: 52px;
    border-radius: 0;
    position: absolute;
    right: 0;
    top: -1px;
    width: 100px;
    border: none;
}

.mui-bar-tab .mui-btn.mui-pull-left {
    margin: 0;
    height: 52px;
    border-radius: 0;
    position: absolute;
    left: 0;
    top: -1px;
    width: 100px;
    font-size: 17px;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px solid #c8c7cc;
}

.photo {
    margin-bottom: 10px;
    display: inline-block;
    width: 85px;
    height: 85px;
    background-size: cover;
    background-position: center;
}

.rowHead {
    margin-top: 15px;
    padding-top: 15px;
    font-size: 15px;
}

.rowHead img,
.rowHeadImg {
    width: 15px;
    height: 15px;
    margin: 0 15px;
    position: relative;
    top: 2px;
}


/*表单*/

.input-panel {
    margin: 20px 10px;
}

.input-panel .flex0 {
    width: 105px;
}

.input-panel .flex2 {
    flex: 1 1 auto;
}

.input-panel .display-flex {
    padding: 12px;
}

.input-panel h5 {
    color: #000;
    line-height: 25px;
}

.input-panel .list {
    padding: 15px;
}

.input-panel .rowHead {
    padding-bottom: 10px;
}

.input-panel button {
    padding: 3px;
    border: none;
}

.input-panel .mui-segmented-control {
    border: none;
}

.input-panel .mui-segmented-control .mui-control-item.mui-active {
    color: #fff;
    background-color: #000;
}

.input-panel .mui-segmented-control .mui-control-item {
    position: relative;
    border: none;
    background: #fff;
    color: #000;
    line-height: 33px;
}

.input-panel .mui-control-item:nth-last-of-type(n+2):after {
    content: '';
    width: 1px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    height: 18px;
    margin-top: -9px;
    background: gray;
}

.ini-bar-bottom {
    text-align: center;
    background-color: #3c3c3c;
    color: #fff;
    opacity: 0.85;
    display: flex;
}

.ini-btn-submit {
    flex: auto;
    min-width: 50%;
    /* 安卓微信不支持 flex */
    height: 50px;
    border-color: #3c3c3c;
    background-color: #3c3c3c;
    color: #fff;
    top: 0px !important;
    padding: 0px !important;
    font-size: 18px;
    font-weight: lighter;
}

.ini-btn-submit:nth-last-of-type(n+2):after {
    content: '';
    width: 2px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    height: 20px;
    margin-top: -9px;
    background: #fff;
}

.ini-btn-add {
    margin: 10px;
    width: 20%;
}

.flex0 input[type="tel"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    height: 22px;
}

.popover {
    position: fixed;
    width: 100vw;
    height: 101vh;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(20px);
    /*-webkit-transition-property:background-color;*/
    -webkit-transition-duration: 3ms;
    transition-property: opacity;
    transition-duration: 500ms;
    overflow: hidden;
    /*display: -webkit-box;*/
    /*-webkit-box-align: center;*/
    opacity: 1;
}

@supports(-webkit-backdrop-filter:none) {
    .popover {
        -webkit-backdrop-filter: blur(20px);
        transition-property: -webkit-backdrop-filter, opacity;
        background: rgba(0, 0, 0, 0.65);
    }
}

.popover-hide {
    -webkit-backdrop-filter: blur(0) !important;
    /*background: rgba(0, 0, 0, 0.0) !important;*/
    opacity: 0;
}

.popover-hide .popover-content {
    transform: translateY(100vh);
}

.popover-closeButton {
    /*border-radius: 50%;*/
    display: block;
    width: 60px;
    height: 70px;
    padding: 0;
    color: #dd524d;
    border: none;
    position: absolute;
    bottom: 8vh;
    background: none;
    left: 50%;
    margin-left: -30px;
    font-size: 58px !important;
    text-align: center;
    font-family: Muiicons;
    z-index: 9999;
}

.popover-closeButton:active {
    color: white;
    background: none !important;
}

.popover-closeButton:before {
    content: '\e404';
}

.popover-content {
    width: 90vw;
    /*height: 75vh;*/
    margin: 3vh 5vw;
    margin-bottom: 125px;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    -webkit-overflow-scrolling: touch;
    -webkit-transition-duration: 5ms;
    transition: all 500ms;
    transform: translateY(0);
}

.popover-content p {
    color: white;
}

.popover-content > img {
    width: 100%;
}

.filter-row .time {
    display: table;
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    /*border: 1px solid #dd524d;*/
    border-radius: 3px;
    margin: 0 auto;
}

.filter-row .time a {
    color: gray;
    display: table-cell;
    width: 1%;
    overflow: hidden;
    /*line-height: 30px;*/
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*border-left: 1px solid #dd524d;*/
    padding: 0.3rem;
    background: white;
    vertical-align: middle;
    font-size: 14px;
    /*transition: background-color .1s linear;*/
}

.filter-row .time i {
    display: table-cell;
    width: 0.02%;
    vertical-align: middle;
    background: white;
    color: gainsboro;
    font-style: normal;
}

.filter-row .time .selected {
    color: #fff;
    background-color: #baa071;
}

.time a:first-child {
    border-left-width: 0;
}

.partTimePrice {
    display: block;
    text-align: center;
    position: relative;
    top: -21px;
}

.hotel {
    margin: 0 auto;
    padding: 14px 10px 15px 10px;
    position: relative;
    background-color: #fff;
}

.hotel div {
    display: inline-block;
}

.hotel>span {
    position: relative;
    top: 10px;
    float: right;
}

.hotel-alias {
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: inline;
}

.room-name {
    padding: 0;
    margin: 0;
    display: inline;
}

.hotel-address {
    padding-top: 10px;
    display: block;
    padding: 0;
    margin: 10px 0 0 0;
}

/**
 * 酒店页面的房间模块设施slide
 */
.hotel-room-amenity {
    height: 40px;
}
.hotel-room-amenity-item {
    /*background: #efeff4;*/
    width: auto !important;
}
.hotel-room-amenity-text {
    color: black;
    margin-left: 8px;
    margin-right: 8px;
}

.room-amenity {
    height: 75px;
    /*background: #efeff4;*/
}

.room-amenity-item {
    /*background: #efeff4;*/
    width: auto !important;
}

.room-amenity-text {
    /*color: #b3b3b3;*/
    color: black;
    margin-left: 8px;
    margin-right: 2px;
}

.room-designer-message {
    font-size: 13px;
    margin: 30px auto;
    overflow: hidden;
}

.order-title {
    display: inline-block;
    margin: 10px 0 5px 10px;
}

.order-list {
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
}

.order-list .order-item {
    display: block;
    margin: 10px 0;
    padding: 10px 0 10px 10px;
    background-color: #fff;
}

.order-list .order-item .status {
    position: absolute;
    right: 0px;
}

.order-list .order-item h5 {
    margin: 8px 0;
    line-height: 18px;
}

.order-list .order-item button {
    width: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: -5px;
    border-radius: 0;
}

.order-panel {
    background: #fff;
    padding: 10px;
    margin: 10px 0;
}

.order-panel-title {
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

#triangle {
    float: right;
    margin: -10px -1px 0 0;
    width: 0;
    height: 0;
    border-top: 64px solid #baa071;
    border-left: 64px solid transparent;
}

.bs-text-xxx-larger {
    font-size: 36px;
}

.bs-text-xx-larger {
    font-size: 30px;
}

.bs-text-x-larger {
    font-size: 24px;
}

.bs-text-larger {
    font-size: 17px;
}

.bs-text-large {
    font-size: 15px;
}

.bs-text-normal {
    font-size: 14px;
}

.bs-text-small {
    font-size: 13px;
}

.bs-text-smaller {
    font-size: 12px;
}

.bs-text-x-smaller {
    font-size: 10px;
}

.bs-text-bolder {
    font-weight: bolder;
}

.bs-text-lighter {
    font-weight: lighter;
}

.bs-text-white {
    color: #fff !important;
}

.bs-text-gold {
    color: #baa071 !important;
}

.bs-text-yellow {
    color: #ffbc1b !important;
}

.bs-text-red {
    /*color: #b20e15 !important;*/
    color: #e93b39 !important;
}

.bs-text-gray {
    color: #999 !important;
}

.bs-text-51 {
    color: #333 !important;
}

.bs-text-153 {
    color: #999 !important;
}

.bs-text-aaa {
    color: #aaa !important;
}

.bs-text-102 {
    color: #666 !important;
}

.bs-text-black {
    color: #000 !important;
}

.bs-text-green {
    color: #008656 !important;
}

.bs-bg-gold {
    background-color: #baa071;
}

.bs-bg-red {
    background-color: #e93b39;
}

.bs-bg-gray {
    background-color: #999;
}

.bs-bg-51 {
    background-color: #333;
}

.bs-bg-153 {
    background-color: #999;
}

.bs-bg-102 {
    background-color: #666;
}

.bs-bg-black {
    background-color: #000;
}

.bs-bg-white {
    background-color: #fff;
}

.bs-bg-dark {
    background-color: #23262a;
}

.bs-bg-yellow {
    background-color: #ffbc1b;
}

.bs-type-tab {
    display: inline-table;
    position: relative;
    top: 12px;
    color: #bbb;
}

.bs-type-tab-item {
    padding: 4px;
    color: #bbb;
    line-height: 24px;
}

.bs-btn-sort {
    display: inline-block;
    margin: 0 0 10px 10px;
    width: 62px;
}

.bs-position {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 99;
    position: absolute;
    top: 68px;
    line-height: 39px;
}

.bs-city {
    position: relative;
    top: 190px;
    color: #fff;
    z-index: 10;
    font-size: 36px;
    height: 0;
    text-align: center;
}

.bs-btn-icon {
    position: absolute;
    z-index: 10;
    padding-right: 10px;
}

.calender-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    opacity: 0.9;
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px -10px;
    border: none;
}

.line {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    top: 0;
    border: none;
    right: 10px;
}
.check-icon {
    position: absolute;
    width: 22px;
    height: 22px;
    background-size: 13px 13px;
    background-position: center;
    background-repeat: no-repeat;
    right: 10px;
    top: 0;
}

.center-nav-item {
    box-sizing: border-box;
    padding: 10px;
    flex: 0 0 33.333%;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.bs-btn-loadmore {
    display: block;
    padding: 5px 0;
    margin: 15px auto;
    width: 90%;
    background: black;
    color: white;
}

.isAgree {
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: 1px;
    margin-right: 10px;
    background-size: cover;
}

.hiddenbox {
    margin: 0 20px 0 0;
    position: absolute;
    right: 0;
}
.unchecked {
    background-image: url('../img/unchecked.svg');
}
.checked {
    background-image: url('../img/checked.svg');
}

.nav-bottom-btn {
    background: #000;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    width: 100vw;
    border: none;
    border-radius: 0;
    height: 50px;
}

.hidden {
    visibility: hidden;
}

/*条款弹窗的样式*/
.content-rule {
    background: #fff;
    color: black;
    height: 80vh;
    overflow-y: auto;
    transition: margin-top 100ms;
    padding: 20px;
}

.content-headtitle {
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.content-title {
    font-size: 18px;
    margin: 10px 0;
}

.content-text {
    font-size: 13px;
    text-indent: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*账户记录*/
.card-log, .cms-account {
    padding: 6vw;
    min-height: 100vh;
}

.card-log-head, .cms-account-head {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 75px;
    margin-top: 15px;
    padding: 12px 0 0 20vw;
}

.card-log-head.zfb, .cms-account-head.zfb  {
    background-image: url('../img/card/log_zhifubao.png');
}

.card-log-head.bank, .cms-account-head.bank {
    background-image: url('../img/card/log_bank.png');
}

.fr-flex {
    display: flex !important;
    justify-content: space-between;
}

.today-list-item {
    display: inline-block;
    padding: 10px 0 2px 0;
}

.card-no, .cms-account-no {
    padding-right: 5px;
}

