.audit-block {
    display: flex;
    padding: 10px 10px 5px;
    margin-top: 10px;
    background-color: white;
    font-size: 12px;
}

.audit-block-left {
    width: 35vw;
    text-align: center;
}

.audit-block-right {
    width: 65vw;
    margin-left: 10px;
}

.audit-block-head {
    height: 70px;
    border-radius: 50%;
}

.audit-block-card {
    height: 20px;
    width: 22px;
}

.audit-button {
    width: 50px;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    margin: 10px 30px 0 0;
}