
.swiper {
    background-color: #000;
    color: #baa071;
    padding: 30px 0 30px 20px;
    height: 100vh;
}

.swiper-slide {
    background-color: #23262a;
}

.swiper-slide .fr-head {
    position: fixed;
    top: 20vh;
}

.swiper-slide .fr-content {
    position: relative;
    top: 10vh;
    text-align: center;
}

.swiper-slide .fr-content-left {
    position: relative;
    top: 10vh;
    margin-right: 30px;
}

.swiper-slide .fr-content-right {
    position: relative;
    top: 10vh;
    margin-left: 30px;
}

.swiper-slide .fr-link {
    color: #e54c4c;
    position: fixed;
    bottom: 20px;
    margin-left: -60px;
}

.withdrawBtn {
    color: #fff;
    background: #23262a;
    width: 120px;
    margin-top: 30px;
    border-radius: 0;
    border-color: #baa071;
    padding: 8px;
    font-weight: 100;
}

.verifyInput {}

.sendBtn {
    color: #999;
    background: #23262a;
    border-radius: 0;
    border-color: #999;
    font-size: 12px;
    font-weight: 100;
    display: inline-block;
}

.fr-flex {
    display: flex;
    justify-content: space-between;
}

.fr-padding-20 {
    padding: 20px;
}

.today-list-item {
    padding: 12px 20px 7px 20px;
}

.header-up {
    padding: 20px;
}

.header-middle {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.header-bottom {
    padding: 20px;
}

.bs-bg-whtie p {
    color: #000 !important;
}