.all {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    margin-bottom: 100px;
    position: relative;
}

#test {
    height: 27px;
    width: 27px;
    position: absolute;
    background-color: #e93b39;
    border-radius: 50%;
    top: 0px;
    margin: 10px;
}

#rond {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    animation: rond 5s infinite;
    -webkit-animation: rond 5s infinite;
}

@keyframes rond {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(540deg);
    }
}

@-webkit-keyframes rond {
    0% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(540deg);
    }
}