table {
    margin: 15px auto;
    width: 100%;
    text-align: center;
    background: #fff;
    font-size: 14px;
    font-weight: 200;
}

td {
    padding: 5px;
    border: solid 1px #cccccc;
}

td:nth-child(2n) {
    background-color: #b2b2b2;
}