<div class="bs-index-bottom bs-bg-white" ms-controller="bottom">
    <div ms-if="type==0" class="bs-index-bottom-title">
      <div class="bs-index-bottom-title-left">入住时间: 6:00/13:00/16:00/18:00</div>
      <div class="bs-index-bottom-title-right">越晚入住价格越低</div>
    </div>
    <div ms-if="type==1" class="bs-index-bottom-title">
      <div class="bs-index-bottom-title-left">入住时间: 8:00-20:00</div>
      <div class="bs-index-bottom-title-right">价格随时间波动</div>
    </div>
    <div ms-if="type==2" class="bs-index-bottom-title">
      <div class="bs-index-bottom-title-discount"
       ms-class="bs-index-bottom-title-discount-selected:midnightDiscount==0.3" ms-click="selectMidnightDiscount(0.3)">3折</div>
      <div class="bs-index-bottom-title-discount" ms-class="bs-index-bottom-title-discount-selected:midnightDiscount==0.4" ms-click="selectMidnightDiscount(0.4)">4折</div>
      <div class="bs-index-bottom-title-discount" ms-class="bs-index-bottom-title-discount-selected:midnightDiscount==0.5" ms-click="selectMidnightDiscount(0.5)">5折</div>
      <div class="bs-index-bottom-title-discount" ms-class="bs-index-bottom-title-discount-selected:midnightDiscount==0.6" ms-click="selectMidnightDiscount(0.6)">6折</div>
    </div>
    <div style="background-image: url(img/bottom-bar.svg);height: 30px;background-repeat: no-repeat;margin: 30px 40px 40px 40px;"></div>

    <div class="bs-index-bottom-tab">
      <div ms-click="selectType(0)" class="bs-index-bottom-tab-item">
        <div ms-class="bs-index-bottom-tab-item-icon:type==0" style="background-image: url(img/icon/type_day.svg);"></div>
        <span ms-class="bs-index-bottom-tab-item-selected:type==0">全天房</span>
      </div>
      <div ms-click="selectType(1)" class="bs-index-bottom-tab-item">
        <div ms-class="bs-index-bottom-tab-item-icon:type==1" style="background-image: url(img/icon/type_parttime.svg);"></div>
        <span ms-class="bs-index-bottom-tab-item-selected:type==1">时租房
        </span>
      </div>
      <div ms-click="selectType(2)" class="bs-index-bottom-tab-item">
        <div ms-class="bs-index-bottom-tab-item-icon:type==2" style="background-image: url(img/icon/type_midnight.svg);"></div>
        <span ms-class="bs-index-bottom-tab-item-selected:type==2">午夜特价房
        </span>
      </div>
    </div>
</div>
