<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>本宿</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/mui.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
</head>

<body ms-controller="index">
    <!-- 地图 -->
    <div id="container" style="z-index:999;" ms-visible="isShowMap">
        <button type="button" style="z-index:9999;float: right;top: 20px;right: 20px;" ms-click="closeMap">关闭</button>
    </div> 
    
    <!--顶部-->
    <header class="mui-bar mui-bar-nav mui-text-center" style="height: 48px;">
        <div id="menu" style="display: inline-block;float: left;">
            <img class="headImg" ms-attr-src="headImg" alt="" style="margin-left: 0;">
        </div>
        <div class="bs-type-tab">
            <a class="bs-type-tab-item" ms-class="bs-text-red: type==0" ms-on-tap="selectType(0)">全天房</a>
            <span> | </span>
            <a class="bs-type-tab-item" ms-class="bs-text-red: type==1" ms-on-tap="selectType(1)">时租房</a>
        </div>
        <div style="display: inline-block;float: right;">
            <img class="headImg" src="./img/index-btn-rightup.png" alt="" style="margin-right: 0; border-radius: 0;">
        </div>
    </header>

    <div id="pullrefresh" class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="mui-content">
                <!--地址展示-->
                <div class="bs-position" ms-on-tap="openLocationSearch">
                    <span class="mui-icon mui-icon-search"></span>
                    <span>{{position}}</span>
                </div>
                <div class="swiper-container swiper1" style="top: 8px;height: 250px;margin-bottom: 15px;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ms-repeat="galleryList" data-repeat-rendered="swiper1Render">
                            <div style="width: 100%;height: 100%;background-size: cover;background-position: center;" ms-css-background-image="'url(' + el.imgUrl+')'">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div style="position: relative;top: -46px;z-index: 10;float: right;padding-right: 10px;">
                    <button type="button" style="border-radius: 50px;" ms-on-tap="openTimePanel">日历</button>
                    <button type="button" style="border-radius: 50px;" ms-click="showMap">地图</button>
                </div>

                <span class="sub-title bs-text-gold" ms-if="isShowSeen">最近浏览过的</span>
                <div ms-if="isShowSeen" class="swiper-container swiper2" style="height:auto; margin-bottom:10px;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ms-repeat="seenList" data-repeat-rendered="swiper2Render">
                            <!-- roomSlide -->
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <section>
                    <div>
                        <span class="bs-text-gold bs-btn-sort" ms-if="sort==1" ms-on-tap="sortBy(2)">距离最近
                            <span class="mui-icon mui-icon-arrowthindown"></span>
                        </span>
                        <span class="bs-text-gold bs-btn-sort" ms-if="sort==2" ms-on-tap="sortBy(1)">价格最低
                            <span class="mui-icon mui-icon-arrowthindown"></span>
                        </span>
                    </div>
                    <div ms-repeat="roomList">
                        <!-- roomSlide -->
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- content -->
    <!-- pop -->
    <script src="js/lib/mui.min.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="js/lib/avalon.mobile.shim.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/lib/os.js"></script>
    <script src="js/lib/swiper.min.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=0743dafb590f3622f52d0d4218a9f1f7"></script>
    <script src="js/util/filter.js"></script>
    <script src="js/pages/index/index.js"></script>
    <script src="js/pages/user/my.js"></script>
    <script src="js/util/calendar.js"></script>
    <script src="js/util/partTime.js"></script>
    <!--include "../pages/user/popover.html"-->
</body>

</html>
