<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>本酒店</title>
    <link href="css/mui.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/common.css">
    <!-- css -->
    <!-- <link href="css/font.css" rel="stylesheet"/>  -->
    <script src="js/lib/mui.min.js"></script>
    <script src="js/lib/jquery.min.js"></script>
</head>

<body class="mui-ios mui-ios-8 mui-ios-8-0">
<!--
    <header class="mui-bar mui-bar-nav" style="display: -webkit-box;justify-content: space-between;position: fixed;">
        <a id="menu" href="#popModule" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left mui-text-danger"></a>&nbsp;&nbsp;
        <div class="mui-input-row mui-search" style="-webkit-box-flex: 1;padding-top:2px;visibility: hidden;">
            <input type="search" class="mui-input-clear" placeholder="搜索">
        </div>
        <a class="mui-btn-link" href="index.html">
            <img id="logo" src="img/logo_color_black.jpg" alt="" style="margin-right: 0;" onclick="window.location.href='index.html'">
        </a>
    </header>
-->
    <div class="mui-content">
        <!-- content -->
    </div>
        <!-- pop -->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="js/lib/avalon.mobile.shim.min.js"></script>
    <script src="js/lib/os.js" ></script>
    <script src="js/config.js"></script>
    <script src="js/pages/user/my.js"></script>
    <!-- js -->
</body>

</html>
