<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>本酒店管理系统</title>
    <link href="../css/mui.css" rel="stylesheet" />
    <link href="../css/common.css" rel="stylesheet" />
    <!-- css -->
    <script src="../js/lib/mui.min.js"></script>
</head>

<body class="mui-ios mui-ios-8 mui-ios-8-0">
    <header class="mui-bar mui-bar-nav" style="display: -webkit-box;justify-content: space-between;position: fixed;">
        <a id="menu" href="#popModule" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left mui-text-danger"></a>&nbsp;&nbsp;
        <div class="mui-input-row mui-search" style="-webkit-box-flex: 1;padding-top:2px;">
            <h1 id="headerReplace" class="mui-title">标题</h1>
        </div>
        <a class="mui-btn-link" href="nav.html">
            <img id="logo" src="../img/logo_color_black.jpg" alt="" style="margin: 7px -4px 0 0;width: 33px;height: 33px" onclick="window.location.href='nav.html'">
        </a>
    </header>
    <div class="mui-content">
        <!-- content -->
    </div>
    <script src="../js/lib/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../js/lib/avalon.mobile.shim.min.js"></script>
    <script src="../js/domainName.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/lib/os.js"></script>
    <script src="../js/pages/user/my.js"></script>
    <!-- js -->
    <!-- pop -->
</body>

</html>
