<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>本宿</title>
    <link href="../css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/common.css">
    <!-- css -->
    <!-- <link href="css/font.css" rel="stylesheet"/>  -->
    <script type="text/javascript" src="../js/lib/os.js" ></script>
    <script src="../js/lib/mui.min.js"></script>
    <script src="../js/lib/jquery.min.js"></script>
    <script src="../js/lib/avalon.mobile.shim.min.js"></script>
    <script src="../js/domainName.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/util/popOver.js"></script>
    <!-- js -->
    <script>
        mui.init();
    </script>
</head>

<body class="mui-ios mui-ios-8 mui-ios-8-0">
    <div>
        <!-- content -->
    </div>
    <!-- pop -->
</body>

</html>
