<!--顶部-->
<header id="header-nav" ms-controller="top"  class="mui-bar mui-bar-nav mui-text-center" style="height: 48px;background-color:rgba(0,0,0,0.5);padding: 0;">

    <!-- <div id="midnight" class="bs-bg-black bs-text-white" style="z-index: 3;width: 100vw;text-align: left;line-height: 32px;" ms-on-tap="goMidnight">
        <img src="img/midnight.png" alt="" style="width: 24px;float: left;margin: 4px 0 0 8px;">
        &nbsp;<strong>午夜特价房</strong> 震撼来袭！！！<span class="mui-icon mui-icon-closeempty" style="float: right;font-size: 32px;padding: 0px;margin: 0px;" ms-on-tap="closeMidnight"></span>
    </div> -->
    <div style="padding: 0 10px;">
        <div id="menu" style="display: inline-block;float: left;">
            <img class="headImg" ms-attr-src="headImg" alt="" style="margin-left: 0;">
        </div>
        <div class="bs-type-tab">
            <a class="bs-type-tab-item" ms-class="bs-text-white: vmHotel.type==0" ms-on-tap="selectType(0)">全天房</a>
            <span> | </span>
            <a class="bs-type-tab-item" ms-class="bs-text-white: vmHotel.type==1" ms-on-tap="selectType(1)">时租房</a>
        </div>
        <div style="display: inline-block;float: right;" ms-on-tap="goDiscover">
            <img src="./img/discover/discover.png" alt="" style="margin-top: 8px;width: 33px;">
        </div>
    </div>      
</header>