<!--顶部-->
<header id="header-nav" ms-controller="top"  class="mui-bar mui-bar-nav mui-text-center" style="height: 48px;background-color:rgba(0,0,0,0.5);padding: 0;">

    <!-- <div id="midnight" class="bs-bg-black bs-text-white" style="z-index: 3;width: 100vw;text-align: left;line-height: 32px;" ms-on-tap="goMidnight">
        <img src="img/midnight.png" alt="" style="width: 24px;float: left;margin: 4px 0 0 8px;">
        &nbsp;<strong>午夜特价房</strong> 震撼来袭！！！<span class="mui-icon mui-icon-closeempty" style="float: right;font-size: 32px;padding: 0px;margin: 0px;" ms-on-tap="closeMidnight"></span>
    </div> -->
    <div class="bs-header">
        <div id="menu">
            <img class="headImg" ms-attr-src="headImg" alt="" style="margin-left: 0;margin-top: 4px;">
        </div>
        <div class="bs-bg-white bs-text-153 bs-text-larger bs-search">
            <img src="../img/icon/search.svg" alt="" style="width: 19px;position: relative;top: 3px;">
            想去哪里
        </div>
        <div ms-on-tap="goDiscover">
            <img src="../img/discover/discover.png" alt="" style="width: 33px;margin-top: 4px;">
        </div>
    </div>      
</header>